.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #dc4a0b, #f4700bda);
  padding: 14px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-links {
  display: flex;
  gap: 18px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 6px 12px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: rgb(196, 134, 47);
}

.nav-link[aria-current="page"] {
  
  border: solid 1px;
  font-weight: bold;
}
